@keyframes change-col1-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col1-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col1-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col2-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col2-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col2-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col3-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col3-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col3-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col4-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col4-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col4-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col5-1 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

@keyframes change-col5-2 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	32%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

@keyframes change-col5-3 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

@keyframes change-col6-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col6-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col6-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col7-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}
@keyframes change-col7-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col7-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col8-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col8-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col8-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col9-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col9-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col9-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col10-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col10-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col10-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col11-1 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

@keyframes change-col11-2 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	32%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

@keyframes change-col11-3 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

@keyframes change-col12-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col12-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col12-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col13-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col13-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col13-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col14-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col14-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col14-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col15-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col15-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

@keyframes change-col15-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}
