body {
	background: #222;
}

.box {
	height: 250px;
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box * {
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.axis,
.layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.axis {
	animation: 1s linear infinite;
	animation-delay: 0.1s;
}

.layer {
	display: flex;
	flex-flow: row wrap;
}

.layer:nth-child(1) {
	transform: translateZ(-50px);
}

.layer:nth-child(2) {
	transform: translateZ(0px);
}

.layer:nth-child(3) {
	transform: translateZ(50px);
}

.cube {
	position: relative;
	flex: 0 0 50px;
	width: 50px;
	height: 50px;
	backface-visibility: hidden;
}

.layer:nth-child(1) .cube:nth-child(1) {
	animation: change-col1-1 10s linear infinite;
}

@keyframes change-col1-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(1) {
	animation: change-col1-2 10s linear infinite;
}

@keyframes change-col1-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(1) {
	animation: change-col1-3 10s linear infinite;
}

@keyframes change-col1-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(2) {
	animation: change-col2-1 10s linear infinite;
}

@keyframes change-col2-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(2) {
	animation: change-col2-2 10s linear infinite;
}

@keyframes change-col2-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(2) {
	animation: change-col2-3 10s linear infinite;
}

@keyframes change-col2-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(3) {
	animation: change-col3-1 10s linear infinite;
}

@keyframes change-col3-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(3) {
	animation: change-col3-2 10s linear infinite;
}

@keyframes change-col3-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(3) {
	animation: change-col3-3 10s linear infinite;
}

@keyframes change-col3-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(4) {
	animation: change-col4-1 10s linear infinite;
}

@keyframes change-col4-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(4) {
	animation: change-col4-2 10s linear infinite;
}

@keyframes change-col4-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(4) {
	animation: change-col4-3 10s linear infinite;
}

@keyframes change-col4-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(5) {
	animation: change-col5-1 10s linear infinite;
}

@keyframes change-col5-1 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

.layer:nth-child(2) .cube:nth-child(5) {
	animation: change-col5-2 10s linear infinite;
}

@keyframes change-col5-2 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	32%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

.layer:nth-child(3) .cube:nth-child(5) {
	animation: change-col5-3 10s linear infinite;
}

@keyframes change-col5-3 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

.layer:nth-child(1) .cube:nth-child(6) {
	animation: change-col6-1 10s linear infinite;
}

@keyframes change-col6-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(6) {
	animation: change-col6-2 10s linear infinite;
}

@keyframes change-col6-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(6) {
	animation: change-col6-3 10s linear infinite;
}

@keyframes change-col6-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(7) {
	animation: change-col7-1 10s linear infinite;
}

@keyframes change-col7-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(7) {
	animation: change-col7-2 10s linear infinite;
}

@keyframes change-col7-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(7) {
	animation: change-col7-3 10s linear infinite;
}

@keyframes change-col7-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(8) {
	animation: change-col8-1 10s linear infinite;
}

@keyframes change-col8-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(8) {
	animation: change-col8-2 10s linear infinite;
}

@keyframes change-col8-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(8) {
	animation: change-col8-3 10s linear infinite;
}

@keyframes change-col8-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(9) {
	animation: change-col9-1 10s linear infinite;
}

@keyframes change-col9-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(9) {
	animation: change-col9-2 10s linear infinite;
}

@keyframes change-col9-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(9) {
	animation: change-col9-3 10s linear infinite;
}

@keyframes change-col9-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(10) {
	animation: change-col10-1 10s linear infinite;
}

@keyframes change-col10-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(10) {
	animation: change-col10-2 10s linear infinite;
}

@keyframes change-col10-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(10) {
	animation: change-col10-3 10s linear infinite;
}

@keyframes change-col10-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(11) {
	animation: change-col11-1 10s linear infinite;
}

@keyframes change-col11-1 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

.layer:nth-child(2) .cube:nth-child(11) {
	animation: change-col11-2 10s linear infinite;
}

@keyframes change-col11-2 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	32%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

.layer:nth-child(3) .cube:nth-child(11) {
	animation: change-col11-3 10s linear infinite;
}

@keyframes change-col11-3 {
	1.0001%,
	11% {
		opacity: 1;
	}
	11.0001%,
	21% {
		opacity: 1;
	}
	21.0001%,
	31% {
		opacity: 1;
	}
	31.0001%,
	41% {
		opacity: 1;
	}
	41.0001%,
	51% {
		opacity: 1;
	}
	51.0001%,
	61% {
		opacity: 1;
	}
	61.0001%,
	71% {
		opacity: 1;
	}
	71.0001%,
	81% {
		opacity: 1;
	}
	81.0001%,
	91% {
		opacity: 1;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 1;
	}
}

.layer:nth-child(1) .cube:nth-child(12) {
	animation: change-col12-1 10s linear infinite;
}

@keyframes change-col12-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(12) {
	animation: change-col12-2 10s linear infinite;
}

@keyframes change-col12-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(12) {
	animation: change-col12-3 10s linear infinite;
}

@keyframes change-col12-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(13) {
	animation: change-col13-1 10s linear infinite;
}

@keyframes change-col13-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(13) {
	animation: change-col13-2 10s linear infinite;
}

@keyframes change-col13-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(13) {
	animation: change-col13-3 10s linear infinite;
}

@keyframes change-col13-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(14) {
	animation: change-col14-1 10s linear infinite;
}

@keyframes change-col14-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(14) {
	animation: change-col14-2 10s linear infinite;
}

@keyframes change-col14-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(14) {
	animation: change-col14-3 10s linear infinite;
}

@keyframes change-col14-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(1) .cube:nth-child(15) {
	animation: change-col15-1 10s linear infinite;
}

@keyframes change-col15-1 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(2) .cube:nth-child(15) {
	animation: change-col15-2 10s linear infinite;
}

@keyframes change-col15-2 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	32%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.layer:nth-child(3) .cube:nth-child(15) {
	animation: change-col15-3 10s linear infinite;
}

@keyframes change-col15-3 {
	1.0001%,
	11% {
		opacity: 0;
	}
	11.0001%,
	21% {
		opacity: 0;
	}
	21.0001%,
	31% {
		opacity: 0;
	}
	31.0001%,
	41% {
		opacity: 0;
	}
	41.0001%,
	51% {
		opacity: 0;
	}
	51.0001%,
	61% {
		opacity: 0;
	}
	61.0001%,
	71% {
		opacity: 0;
	}
	71.0001%,
	81% {
		opacity: 0;
	}
	81.0001%,
	91% {
		opacity: 0;
	}
	91.0001%,
	100%,
	0%,
	1% {
		opacity: 0;
	}
}

.side {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.side:nth-child(1) {
	transform: rotateX(-90deg) translateZ(25px);
	background: #dbdbdb;
}

.side:nth-child(2) {
	transform: rotateX(90deg) translateZ(25px);
	background: #dbdbdb;
}

.side:nth-child(3) {
	transform: rotateY(90deg) translateZ(25px);
	animation: swap-color 1s linear infinite;
	animation-delay: 0.1s;
}

.side:nth-child(4) {
	transform: rotateY(-90deg) translateZ(25px);
	animation: swap-color 1s linear infinite;
	animation-delay: 0.1s;
}

.side:nth-child(5) {
	transform: rotateY(-180deg) translateZ(25px);
	animation: swap-color_2 1s linear infinite;
	animation-delay: 0.1s;
}

.side:nth-child(6) {
	transform: rotateY(0) translateZ(25px);
	animation: swap-color_2 1s linear infinite;
	animation-delay: 0.1s;
}

@keyframes swap-color {
	0%,
	5% {
		background: #e6e6e6;
	}
	95%,
	100% {
		background: #ccc;
	}
}

@keyframes swap-color_2 {
	0%,
	5% {
		background: #ccc;
	}
	95%,
	100% {
		background: #666666;
	}
}

@keyframes rotate {
	0%,
	5% {
		transform: rotateY(0);
	}
	95%,
	100% {
		transform: rotateY(90deg);
	}
}

